
<mat-card class="tarjetaLogin">
  <div class="form-container">
    <h1 class="title">tup's</h1>
    <mat-form-field>
      
      <input id="email"
      matInput placeholder="Correo Electronico"     
      formControlName="email"
      [(ngModel)]="user.email" />
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Contraseña" type="password" class="password">
          <mat-icon matSuffix (click)="hide = !hide">
            {{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
    </mat-form-field>
    <button 
      mat-button type="submit" 
      class="mat-raised-button mat-primary" 
      [disabled]="!loginForm.valid">Login
    </button>
    <h2 class="textforgotpass">¿Olvidaste tu contraseña?</h2>
    <div>
        <button mat-button class="btoLogin" > Crear cuenta</button>    
    </div>
    
  </div>
</mat-card>